/* Resetando margens e paddings */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
    background: #f0f0f0;
    color: #333;
}

/* Navbar */
.navbar {
    background: #006747;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 10;
}

.navbar .logo h1 {
    font-size: 1.8em;
}

.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    margin: 0 15px;
}

.nav-links a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    transition: color 0.3s;
}

.nav-links a:hover {
    color: #fff900;
}

/* Seções */
.section {
    padding: 80px 20px;
    text-align: center;
    transition: background-color 0.3s ease;
}

.bg-light {
    background-color: #f9f9f9;
}

.section-title {
    font-size: 2.5em;
    color: #006747;
    margin-bottom: 20px;
}

p {
    font-size: 1.2em;
    color: #555;
    margin-bottom: 30px;
}

.cta-button {
    background-color: #006747;
    color: white;
    padding: 12px 30px;
    font-size: 1.2em;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
    border-radius: 5px;
}

.cta-button:hover {
    background-color: #004d36;
}

/* Listagem de jogadores */
.jogadores-list {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 30px;
    font-size: 1.2em;
}

.jogadores-list li {
    font-weight: bold;
}

/* Rodapé */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 15px 0;
}

/* Responsividade */
@media screen and (max-width: 768px) {
    .nav-links {
        display: none;
        flex-direction: column;
        gap: 10px;
    }

    .navbar .logo h1 {
        font-size: 1.5em;
    }

    .navbar .nav-links.active {
        display: flex;
    }

    .cta-button {
        font-size: 1em;
        padding: 10px 20px;
    }
}
